@import "../../../shared/styles/variable";

.student {

    .ant-progress-success-bg,
    .ant-progress-bg {
        background-color: $color-primary;
    }

    .lesson-style {
        font-style: normal;
        font-weight: 700;
        color: #0B80EC;
    }
.chart {
    .title {
        position: unset !important;
        margin-bottom: 1rem;
    }
}
}