@import "../../../shared/styles/variable";

.teacher-subject{
    .ant-checkbox {
        transform: scale(1.2);
    }
    .ant-checkbox-inner {
        border: 2px solid #0B80EC;
    }
    .ant-list{
        border: 1px solid #F2F2F2;
        border-radius: 8px;
    }
    .ant-list-item{
        margin: 0px 20px 0px 20px;
    }
    .space-with-noti{
        margin-bottom: 24px;
    }
    .btn-create-min{
        align-items: center;
        padding: 0px;
        background: $color-primary-light;
        border: 1px solid $color-primary;
        border-radius: 4px;
        color: $color-black;
        height: 1.5rem;
        padding: 0px 24px;
        float: right;
    }
    .selectcomp{
        margin: 0 1rem 1rem 0;
    }
    .selectcomp .select{
        width: fit-content !important;
    }
    
}
.sun-editor .se-toolbar{
    text-align: left;
}
.select-margin{
    margin-right: 16px;
}