@import "../variable";

.ant-btn {
  font-weight: bold;
}

.default-btn {
  border: 1px solid $color-text-light;
  border-radius: 8px;
  color: $color-text-light;
  height: 2.2rem;
  min-width: 100px;
  font-weight: 700;

  &:hover {
    border: none;
    background-color: $color-primary;
    border: 1px solid $color-primary;
    color: $color-white;
  }

  &:focus {
    border: 1px solid $color-text-light;
    color: $color-text-light;
  }
}

.cancel-btn {
  background-color: #c9c4c0;
  border: none;
  border-radius: 8px;
  color: $color-white;
  height: 2.2rem;
  min-width: 69px;
  font-weight: 700;
  margin-left: 0.5rem;

  &:hover {
    border: 1px solid $color-text-light;
    color: $color-text-light;
    background-color: $color-white;
  }

  &:focus {
    background-color: #c9c4c0;
    border: none;
    color: $color-white;
  }
}

.ant-btn-primary {
  background-color: $color-primary;
  border: 1px solid $color-primary;
  color: $color-white;
  min-width: 100px;
  height: 2.2rem;
  border-radius: 8px;

  &:focus {
    background-color: $color-primary;
    border: 1px solid $color-primary;
  }
}

.ant-btn-primary:hover {
  background-color: $color-primary-hover;
  border: 1px solid $color-primary;
}

.footer-btn {
  display: flex;
  margin-top: 1rem;
  justify-content: right;
}
