@import "../variable";

.ant-input {
  // background: #f0f3f6;
  // border: none;
  border-radius: 8px;
  height: 36px;

  &:focus {
    background: white;
    box-shadow: none;
    // border: 1px solid gray;
  }
}

.ant-input-affix-wrapper {
  border-radius: 10px;
}