@import "../variable";

.search-label-default {
  color: $color-primary;
  opacity: 0.8;
  font-weight: $font-weight-medium;
  font-size: $fs-2;
}
.search-bar {
  width: 100%;

  .ant-input-affix-wrapper{
    border-radius: 0.6rem;
  }

  .ant-input-affix-wrapper,
  input {
    background: $color-grey-light-2 !important;
    border: 1px solid $color-grey-light-2;
    box-sizing: border-box;
    font-size: $fs-00;
    outline: none;
    
   
    .ant-input{
      padding: 0.3rem;
    }
    .ant-input-prefix {
      svg {
        color: $color-item;
        width: 2.4rem;
        height: 2.4rem;
        font-size: $fs-5;
      }
    }
    .ant-input-suffix {
      svg {
        color: #d9d9d9;
        width: 17.6px;
        height: 17.6px;
        font-size: $fs-5;
      }
    }
  }
  .ant-input-affix-wrapper-focused,
  .ant-input-affix-wrapper:focus{
    box-shadow: 0rem 0rem 0.4rem $color-primary;
  }
  .ant-input-affix-wrapper:hover{
    border-color: $color-primary;
  }

  .icon-search {
    position: absolute;
    top: 50%;
    right: 1.6rem;
    transform: translateY(-50%);
    color: $color-item;

    svg {
      color: $color-primary;
      width: 2.4rem;
      height: 2.4rem;
      font-size: $fs-5;
    }
  }
}

@media screen and (max-width: 1500px) {
  input.form-search.ant-form-search {
    padding-right: 6.4rem;
    width: 30vw;
  }
}

.to-right {
  float: right;
}

.to-left {
  float: left;
}