@import "../variable";

.selectcomp {
  display: flex;

  .select {
    max-width: 200;
  }
  .ant-select .ant-select-selector {
    height: 36px;
    border-radius: 8px;
  }
  
}
.ant-select-selection-item{
  flex: none;
}
.select-label {
  display: flex;
  align-items: center;
  font-weight: 700;
  margin-bottom: 5px;
}
.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  height: 36px;
  border-radius: 8px;
}