@import "../../../shared/styles/variable";

.exam-bank {
  .ant-table table {
    border-radius: 15px;
    border: 1px solid rgba(223, 223, 223, 0.636);
    border-bottom: none;
  }

  .table-header {
    margin-top: 1rem;
    display: flex !important;
    align-items: center;
  }

  .selectcomp {
    display: block;
    margin: 0 1rem 1rem 0;

    .select {
      margin: 0;
    }
  }

  .ant-table-thead>tr>th {
    background: $color-primary;
    color: $color-white;
  }

  .ant-table-tbody>tr:nth-child(even) {
    background-color: $color-grey-light-2;
  }

  .ant-table-container {
    margin-top: 1rem;
  }

  // for border table
  .ant-table-container table>thead>tr:first-child th:first-child {
    border-top-left-radius: $border-radius;
  }

  .ant-table-container table>thead>tr:first-child th:last-child {
    border-top-right-radius: $border-radius;
  }

  .ant-table-tbody>tr.ant-table-row:last-child>td:first-child {
    border-bottom-left-radius: $border-radius;
  }

  .ant-table-tbody>tr.ant-table-row:last-child>td:last-child {
    border-bottom-right-radius: $border-radius;
  }

  .ant-btn-icon-only {
    border: none;
    color: $color-primary;
    background-color: transparent;
  }

  .gray {
    color: $color-grey-dark-1;
    font-style: italic;
  }

  .green {
    color: $color-primary-green;
  }

  .ant-table-thead th.ant-table-column-sort:hover {
    background-color: $color-primary-hover;
  }

  .ant-table-thead th.ant-table-column-has-sorters:hover {
    background-color: $color-primary-hover;
  }

  .search-bar {

    .ant-input-affix-wrapper,
    input {
      border: 1px solid $color-grey-light-2;
      background: $color-grey-light-2 !important;
    }

    .ant-input-affix-wrapper-focused,
    .ant-input-affix-wrapper:focus {
      box-shadow: 0rem 0rem 0.4rem $color-primary;
    }

    .ant-input-affix-wrapper:hover {
      border-color: $color-primary;
    }
  }
}

hr {
  margin: 1rem 0;
}

.sub-exam-bank {
  .label {
      font-weight: 700;
      margin-right: 1rem;
    }
  .top-head {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      font-weight: 700;
      font-size: 24px;
    }

    .anticon svg {
      color: $color-text-light;
      font-size: 36px;
      width: 50px;

      &:hover {
        cursor: pointer;
        }
        }
  }
.body-bank {
  margin-top: 2rem;
  border: 1px solid rgba(197, 197, 197, 0.705);
  border-radius: 8px;
  width: 100%;

  .ant-col-6 {
    background-color: #F0F3F6;
    padding: 1rem;
    font-weight: 700;
    height: 60vh;
    overflow-y: scroll;

    &::-webkit-scrollbar-track {
      padding: 2px 0;
      background-color: rgba(185, 183, 183, 0.59);
    }

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      background-color: rgb(173, 173, 173);
    }


    .answer {
      margin-top: 1rem;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        cursor: pointer;
      }

      &.true {
        background-color: #FFA75E;
        border-radius: 4px;
        position: relative;

        .icon-true {
          position: absolute;
          right: 5px;
        }
        }
        }
        }
    .question-detail {
      padding: 1rem;
    
      h3 {
        font-weight: 700;
      }
    }
    }
  .line {
    border-left: 1px solid $color-background-cancel;
    height: 40px;
    margin: 0px 10px 0px 10px;
}
}
