@import "../../../shared/styles/variable";

.home {
  .anacard {
    background: linear-gradient(270deg, #ff5400 0%, #f17f21 80.56%);
    padding: 0.5rem;
    width: 100%;
    color: $color-white;
    font-weight: $font-weight-bold;
    font-size: 18px;
    border-radius: 8px;
    text-align: center;
  }

  .anacard-blue {
    background: linear-gradient(98.91deg, #56ccf2 1.13%, #2f80ed 100%);
    padding: 0.5rem;
    width: 100%;
    color: $color-white;
    font-weight: $font-weight-bold;
    font-size: 18px;
    border-radius: 8px;
    text-align: center;
  }

  .ant-pagination-item {
    display: none;
  }

  .ant-list-pagination {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }

  .ant-pagination-item-link {
    border: none;
  }

  .btn-img {
    position: relative;

    .img-play {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    img {
      width: 100%;
      height: 7rem;
    }

    .btn-play {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .ant-card-body {
    padding: 10px;
  }

  .ant-card {
    border-radius: 8px;
    box-shadow: 4px 4px 25px 4px rgba(154, 202, 245, 0.25);
  }

  h5 {
    font-weight: 700;
    font-size: 14px;
    margin-bottom: 0;
  }

  p {
    font-size: 12px;
  }

  h6 {
    font-size: 14px;
    color: $color-primary;
    margin-bottom: 0;
  }

  .wrapper {
    background-color: #ffa75e;
    margin-top: 1rem;

    h5 {
      margin: 0.5rem 0 1rem 1.3rem;
    }
  }

  h4 {
    color: $color-primary;
    font-weight: 700;
  }

  .wrapper-list {
    position: relative;
    margin-top: 1rem;

    .title {
      position: absolute;
    }
  }
}