@import "../../../shared/styles/variable";
.Noti-Page{
    .tab-notilist{
        position: relative;
        .tab-control{
            display: flex;
            position: absolute;
            top: 0;
            right: 0;
            .iconsetting{
                color: $color-primary;
            }      
            .line{
                border-left: 1px solid $color-background-cancel;
                height: 40px;
                margin: 0px 10px 0px 10px;
            }
        }
    }
    .ant-tabs-tab:hover{
        color: $color-primary;
    }
    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
        color: $color-white;
    }
    .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab, .ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab {
        background: none;
        border: none;
    
    }
    .ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab, .ant-tabs-card.ant-tabs-top > div > .ant-tabs-nav .ant-tabs-tab {
        align-items: center;
        padding: 12px 40px;
        font-size: 0.875rem;
        font-weight: bold;
        transition: none;
    }
    .ant-tabs-card.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab-active, .ant-tabs-card.ant-tabs-top > div > .ant-tabs-nav .ant-tabs-tab-active {
        background: #373839;
        border-radius: 24px;
    }
    .ant-tabs > .ant-tabs-nav, .ant-tabs > div > .ant-tabs-nav {
        position: unset;
        width: fit-content;
        background-color: $color-grey-light-1;
        border-radius: 24px;
    }
    .ant-btn-icon-only{
        color: $color-primary;
    }
}
.ant-collapse-borderless > .ant-collapse-item {
    border: 1px solid $color-primary;
    margin-bottom: 12px;
}
.ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow{
    color: $color-primary;
    font-size: 24px;
}
.ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header {
    background-color: $color-primary-supper-light;
    font-weight: 700;
    margin: 5px 36px 5px 30px;
}
.ant-collapse-borderless > .ant-collapse-item > .ant-collapse-content > .ant-collapse-content-box {
    margin: 0px 36px 5px 30px;
}