@import "../../../shared/styles/variable";

.Noti-Page {
    .tab-notilist {
        position: relative;

        .tab-control {
            display: flex;
            position: absolute;
            top: 0;
            right: 0;

            .iconsetting {
                color: $color-primary;
            }

            .setting-btn-icon:hover {
                color: $color-grey-dark-1;
            }

            .line {
                border-left: 1px solid $color-background-cancel;
                height: 40px;
                margin: 0px 10px 0px 10px;
            }
        }
        

    }



    .ant-tabs-tab:hover {
        color: $color-primary;
    }

    .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
        color: $color-white;
    }

    .ant-tabs-card>.ant-tabs-nav .ant-tabs-tab,
    .ant-tabs-card>div>.ant-tabs-nav .ant-tabs-tab {
        background: none;
        border: none;

    }

    .ant-tabs-card.ant-tabs-top>.ant-tabs-nav .ant-tabs-tab,
    .ant-tabs-card.ant-tabs-top>div>.ant-tabs-nav .ant-tabs-tab {
        align-items: center;
        padding: 12px 40px;
        font-size: 0.875rem;
        font-weight: bold;
        transition: none;
    }

    .ant-tabs-card.ant-tabs-top>.ant-tabs-nav .ant-tabs-tab-active,
    .ant-tabs-card.ant-tabs-top>div>.ant-tabs-nav .ant-tabs-tab-active {
        background: #373839;
        border-radius: 24px;
    }

    .ant-tabs>.ant-tabs-nav,
    .ant-tabs>div>.ant-tabs-nav {
        position: unset;
        width: fit-content;
        background-color: $color-grey-light-1;
        border-radius: 24px;
    }

    .ant-btn-icon-only {
        color: $color-primary;
    }

}

.setting-noti-page {

    .site-collapse-custom-collapse .site-collapse-custom-panel,
    .site-collapse-custom-collapse .site-collapse-custom-panel {
        margin-bottom: 24px;
        overflow: hidden;
        border-radius: 8px;

        .anticon svg {
            font-size: large;
        }
    }

    .ant-collapse-borderless>.ant-collapse-item>.ant-collapse-content {
        background-color: $color-white;
    }
}

.ant-input-affix-wrapper {
    padding: none !important;
}

.ant-modal-footer {
    text-align: center;
}

.ant-collapse-borderless>.ant-collapse-item {
    border: 1px solid $color-primary;
    margin-bottom: 12px;
}

.ant-collapse-icon-position-right>.ant-collapse-item>.ant-collapse-header .ant-collapse-arrow {
    color: $color-primary;
    font-size: 24px;
    margin-right: 24px;
}

.ant-collapse-icon-position-right>.ant-collapse-item>.ant-collapse-header {
    background-color: $color-primary-supper-light;
    font-weight: 700;
}

.ant-collapse>.ant-collapse-item>.ant-collapse-header:focus {
    background-color: $color-primary-light;
}

.ant-collapse-content {
    padding: 16px;

    .conten-childpanel {
        margin-bottom: 24px;

        .ant-switch {
            float: right;
        }
    }
}

.ant-modal-header {
    background: $color-secondary-dark-light;
    border-radius: 8px 8px 0px 0px;
}
.ant-modal-content {
    .anticon svg {
        color: $color-white;
    }
}
.ant-modal-title {
    color: $color-white;
}
.selectcomp{
    display: block !important;
    margin-bottom: 12px;
    .select{
        width: 100% !important;
        margin: 0 !important;
    }
}
.ant-checkbox-wrapper{
    margin-bottom: 6px;
}
