#bgRight {
  background-image: url("../../../shared/img/bgRightHelp.png");
  background-position: right;
  background-repeat: no-repeat;
  padding-right: 0px;
  justify-content: center;
  align-items: center;
  display: flex;
}

#leftHelp {
  padding: 10px 20px 100px 10px;
}

.in4 {
  background-color: #fef3ef;
  width: 100%;
  border-radius: 16px 0px 0px 16px;
  padding: 60px 40px;
}

.toastify {
  color: black;
  background-color: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 4px 4px 25px 4px rgba(154, 202, 245, 0.25);
}

.topic {
  height: 50px;
  border-radius: 8px;
}