@import "./Layout/scss/colors/colors.scss";

.logo {
  height: 32px;
  margin: 16px;
  background: black;
}

.site-layout .site-layout-background {
  background-color: $color-primary-light;
}

.ant-layout-sider-children {
  background-color: $color-primary;
}

.ant-layout-sider-trigger {
  background-color: $color-primary;
}

.ant-menu-root.ant-menu-vertical,
.ant-menu-root.ant-menu-vertical-left,
.ant-menu-root.ant-menu-vertical-right,
.ant-menu-root.ant-menu-inline {
  background-color: $color-primary;
}

.ant-menu-sub.ant-menu-inline {
  background-color: $color-primary;
}

.ant-menu-inline {
  background-color: $color-primary;
}
