.login {
  background-image: url("../../shared/img/bgLogin.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;

  h1 {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 48px;
  }

  label {
    font-weight: 600;
  }
}

.logoLogin {
  display: block;
  margin-left: auto;
  padding: 20px 50px 10px 10px;
}

.formLogin {
  margin: 0% 25%;
  padding: 70px 0;

  .ant-btn-primary {
    margin-top: 1rem;
  }
}

.row {
  margin: 0px !important;
}

.inputLogin {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: #f2f2f2;
  border-radius: 8px;
  padding: 8px 16px 8px 16px;
}

.textLogin {
  margin-left: 8px;
  background-color: #f2f2f2;
  border: none;
  width: 80%;
}

.textLogin:focus {
  background-color: white;
  outline: none;
}

.clikedInput {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: white;
  border-radius: 8px;
  padding: 8px 16px 8px 16px;
}

.test {
  position: absolute;
  margin: 11px;
}

.input-icons {
  width: 100%;
  background-color: #f2f2f2;
  margin-bottom: 10px;
  border-radius: 8px;
}

.input-field {
  width: 100%;
  padding: 10px;
  padding-left: 40px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 8px;
}

.input-field:focus {
  outline: 1px solid #3738397c;
  background-color: white;
}

.input-code {
  width: 100%;
  padding: 10px;
  padding-left: 15px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 8px;
}

.input-code:focus {
  outline: 1px solid #3738397c;
  background-color: white;
}

.forgotPass {
  display: block;
  color: #ff7506;
  text-align: right;
  text-decoration: none;
}

.forgotPass:hover {
  color: #ff7606d0;
}

.btn-success {
  width: 100%;
  background-image: linear-gradient(to right, #f17f21, #ff5400);
  border: none;
  font-weight: bold;
  margin-top: 20px;
  padding: 10px 0px;
}

.btn-success:hover {
  background-color: white;
  background-image: linear-gradient(to right, #f17f21e3, #ff5500de);
}